{% extends 'main.html' %} {% block content %}
<main class="profile-page layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    {% include 'base/topics_component.html' %}
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{{user.avatar.url}}" />
          </div>
        </div>

        <div class="profile__info">
          <h3>{{user.username|title}}</h3>
          <!-- |title will capitalize the first letter of the name-->
          <p>@{{user.username}}</p>
          {% if request.user == user %}
          <a href="{% url 'update-user' %}" class="btn btn--main btn--pill"
            >Edit Profile</a
          >
          {% endif %}
        </div>

        <div class="profile__about">
          <h3>About</h3>
          <p>
            Replace this text while creating a profile. This is a place holder
            for the actual profile.
          </p>
        </div>
      </div>

      <div class="roomList__header">
        <div>
          <h2>Study Rooms Hosted by {{user.username}}</h2>
        </div>
      </div>
      <!-- The feed component showing available rooms where this user has commented/posted. -->
      {% include 'base/feed_component.html' %}
    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'base/activity_component.html' %}
    <!-- Activities End -->
  </div>
</main>
{% endblock content %}

<!--
    <img src="https://randomuser.me/api/portraits/men/11.jpg" />
  -->
